/* --- Estilos de index.css (Ahora encapsulados) --- */

.tienda-layout {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Aplicamos los estilos de body al layout de la tienda */
  margin: 0;
  display: flex;
  flex-direction: column; /* Para que el footer se vaya abajo */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.tienda-layout a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.tienda-layout a:hover {
  color: #535bf2;
}

.tienda-layout h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.tienda-layout button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.tienda-layout button:hover {
  border-color: #646cff;
}
.tienda-layout button:focus,
.tienda-layout button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Aplicamos los estilos de #root al layout de la tienda */
.tienda-layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tienda-layout .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.tienda-layout .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.tienda-layout .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tienda-layout a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.tienda-layout .card {
  padding: 2em;
}

.tienda-layout .read-the-docs {
  color: #888;
}

/* --- Media Query de index.css (Ahora encapsulada) --- */
@media (prefers-color-scheme: light) {
  .tienda-layout {
    color: #213547;
    background-color: #ffffff;
  }
  .tienda-layout a:hover {
    color: #747bff;
  }
  .tienda-layout button {
    background-color: #f9f9f9;
  }
}